html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/*Header*/

header{
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
}

.texto-header a{
    color: #E62872; 
    font-size: 22px;
}

.texto-header a:hover{
    color: #7E68D4;
}

.icn-header{
    padding: 0px 10px 0px 0px;
    font-size: 22px;
}

.icn-header:hover{
    color: #7E68D4;
}

.nav-header a{
    color: black;
    font-size: 16px;
    padding: 0px 7px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.nav-header a:hover{
    color: #E62872;
}

.btn-nav {
    border: none;
    font-size: 20px;
}

.btn-nav a{
    background-color: white;
    border: 2px solid #E62872;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    color: #E62872;
}

.btn-nav a:hover{
    background-color: #E62872;
    color: white;
}

.nav-responsive{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .texto-header, .nav-header, .btn-nav{
        display: none;
    }

    .btn-responsive{
        background-color: #E62872;
    }

    .btn-responsive:hover{
        background-color: #7E68D4;
    }

    .texto-header-responsive a{
        color: #E62872; 
        font-size: 22px;
    }
    
    .texto-header-responsive a:hover{
        color: #7E68D4;
    }
    
    .icn-header-responsive{
        padding: 0px 10px 0px 0px;
        font-size: 22px;
    }
    
    .icn-header-responsive:hover{
        color: #7E68D4;
    }

    .nav-responsive{
        display: flex;
        text-align: center;
        background-color: white;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav-item a{
        color: white !important;
        background-color: #E62872;
        margin-top: 5px;
        border-radius: 20px;
    }

    .nav-item a:hover{
        background-color: #7E68D4;
    }
}

@media screen and (max-width:767px) {

    .texto-header, .nav-header, .btn-nav{
        display: none;
    }

    .btn-responsive{
        background-color: #E62872;
    }

    .btn-responsive:hover{
        background-color: #7E68D4;
    }

    .texto-header-responsive a{
        color: #E62872; 
        font-size: 22px;
    }
    
    .texto-header-responsive a:hover{
        color: #7E68D4;
    }
    
    .icn-header-responsive{
        padding: 0px 10px 0px 0px;
        font-size: 22px;
    }
    
    .icn-header-responsive:hover{
        color: #7E68D4;
    }

    .nav-responsive{
        display: flex;
        text-align: center;
        background-color: white;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav-item a{
        color: white !important;
        background-color: #E62872;
        margin-top: 5px;
        border-radius: 20px;
    }

    .nav-item a:hover{
        background-color: #7E68D4;
    }
}