html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/*Header*/

header{
    /*position: fixed;*/
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
}

.texto-header a{
    color: #E62872; 
    font-size: 22px;
}

.texto-header a:hover{
    color: #7E68D4;
}

.icn-header{
    padding: 0px 10px 0px 0px;
    font-size: 22px;
}

.icn-header:hover{
    color: #7E68D4;
}

.nav-header a{
    color: black;
    font-size: 16px;
    padding: 0px 7px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.nav-header a:hover{
    color: #E62872;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  .btn-nav {
    margin: 20px;
    color: white;
  }
  .custom-btn-nav {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  

  .btn-7 {
    background: #E62872;
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
    }

    .btn-7 span:hover{
        color: #7E68D4;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: #7E68D4;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: #7E68D4;
      background: transparent;
    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: #7E68D4;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }

.nav-responsive{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .texto-header, .nav-header, .btn-nav{
        display: none;
    }

    .btn-responsive{
        background-color: #E62872;
    }

    .btn-responsive:hover{
        background-color: #7E68D4;
    }

    .texto-header-responsive a{
        color: #E62872; 
        font-size: 22px;
    }
    
    .texto-header-responsive a:hover{
        color: #7E68D4;
    }
    
    .icn-header-responsive{
        padding: 0px 10px 0px 0px;
        font-size: 22px;
    }
    
    .icn-header-responsive:hover{
        color: #7E68D4;
    }

    .nav-responsive{
        display: flex;
        text-align: center;
        background-color: white;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav-item a{
        color: white !important;
        background-color: #E62872;
        margin-top: 5px;
        border-radius: 20px;
    }

    .nav-item a:hover{
        background-color: #7E68D4;
    }
}

@media screen and (max-width:767px) {

    .texto-header, .nav-header, .btn-nav{
        display: none;
    }

    .btn-responsive{
        background-color: #E62872;
    }

    .btn-responsive:hover{
        background-color: #7E68D4;
    }

    .texto-header-responsive a{
        color: #E62872; 
        font-size: 22px;
    }
    
    .texto-header-responsive a:hover{
        color: #7E68D4;
    }
    
    .icn-header-responsive{
        padding: 0px 10px 0px 0px;
        font-size: 22px;
    }
    
    .icn-header-responsive:hover{
        color: #7E68D4;
    }

    .nav-responsive{
        display: flex;
        text-align: center;
        background-color: white;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav-item a{
        color: white !important;
        background-color: #E62872;
        margin-top: 5px;
        border-radius: 20px;
    }

    .nav-item a:hover{
        background-color: #7E68D4;
    }
}